@import url('https://use.typekit.net/wel8ibk.css');
@import 'import';

:root {
  --ham-color: #{$white};
}

@import 'common';
@import 'typographic';
@import "container";
@import 'ratio';

.container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
}

.stretched-link::after {
  // @include beforeafter;
  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: auto;
}
